*{
    box-sizing: border-box;
    background-color: #222831;
}
.MainMatterDiv{
    background-color: #31363F;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 2rem;
    width: 100%;
    /* background-color: pink; */
    margin-top: 2rem;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    height: 100%;
}
.workdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: #31363F;
    
    
}
.dpdiv{
    width: 50%;
    height: 50%;
    background-color: #31363F;
}
#nameintro{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #76ABAE;
    padding: 0;
    background-color: #31363F;
    margin: 0;
    text-align: center;
    font-size: 2rem;
}
#h1work{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #EEEEEE;
    background-color: #31363F;
    font-size: 2rem;
}

#dp{
    margin-left: 20%;
    width: 40%;
    transition: transform 1s ease;
  
}
/* #dp:hover{
    transform: rotate(360deg);
} */
@media only screen and (max-width:600px){
    #dp{
        width: 80%;
        height: 100%;
        object-fit: contain;
        margin-left: 10%;
    }
    #h1work{
        font-size: 2rem;
        width: 100%;

    }
    .MainMatterDiv{
        flex-direction: column-reverse;
    }
    .dpdiv{
       padding: 2rem;
       width: 100%;
       height: 100%;
    }
    .workdiv{
        width: 100%;
        margin-left: 20%;
    }
    #nameintro{
        text-align: center;
        margin-right: 15%;
    }
}